.menu-container__request {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
}

.title__request {
  text-align: center;
  margin: 20px 0px;
  font-size: 32px;
}

.primary--color__request {
  color: #ffc702;
}

.menu-list__request {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-item__request {
  border: 1px solid gray;
  border-radius: 5px;
  overflow: hidden;
}

.menu-header__request {
  background: linear-gradient(
    135deg,
    rgba(24, 24, 24, 1) 0%,
    rgba(61, 61, 61, 1) 100%
  );
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.menu-header__request:hover {
  background: rgba(61, 61, 61, 1);
  transition: 350ms;
}

.menu-header__request.active__request {
  background-color: #dceeff;
}

.menu-details__request {
  padding: 10px;
  background-color: rgb(70, 70, 70);
  border-top: 1px solid #ddd;
}

.menu-details__request .text__request {
  margin: 5px 0;
}

.menu-actions__request {
  margin-top: 10px;
}

.button__request {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button__request.accept__request {
  background-color: #4caf50;
  color: white;
}

.button__request.accept__request:hover {
  background-color: #3c8b3e;
  transition: 250ms;
}

.button__request.deny__request {
  background-color: #f44336;
  color: white;
}

.button__request.deny__request:hover {
  background-color: #bb3228;
  transition: 250ms;
}

.button__request:not(:last-child) {
  margin-right: 10px;
}
